@import "tailwindcss";

@layer base {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background: #000; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #333; 
    border-radius: 3px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  body {
    @apply antialiased;
  }
}
