@import "tailwindcss";

@layer base {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #000;
  }

  ::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  html,
  body {
    @apply antialiased bg-black;
    @apply overscroll-none;
  }
}

@layer utilities {
  .range-sm {
    @apply h-1 cursor-pointer appearance-none rounded-lg bg-white/20 accent-white transition-all hover:h-1.5 hover:bg-white/30;
  }

  .range-sm::-webkit-slider-thumb {
    @apply appearance-none h-3 w-3 rounded-full bg-white shadow-[0_0_10px_rgba(255,255,255,0.7)] transition-transform hover:scale-125;
  }
}